body{
background-color: black;
}



#WLC{
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
}



#RTS2{
    color:rgb(207, 84, 8);
    font-size: 30px;
    text-decoration: underline double;
}


#RTS3{
    color:black;
    font-size: 30px;
}

#Exp{
    color: black;
    font-size: 20px;
    
}
 .box {
      width: 530px;      
      padding: 20px;       
      border: 2px solid rgb(207, 84, 8);
      border-radius: 8px;     
      background-color: rgb(0, 0, 0); 
      text-align: center;     
      font-size: 18px;
 }



#Founder{
    color: rgb(207, 84, 8);
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}

#rajesh{
    color: rgb(38, 0, 255);
    text-align: center;
    font-size: 30px;
}


#owner{
    color: orangered;
    font-size: 20px;
    text-align: center;
}

#prv{
    color:coral;
    text-decoration:underline double;
}


#bus{
    color: red;
font-size: 30px;
text-align: center;
text-decoration: underline;
}

#Scorpio{
    color: red;
font-size: 30px;
text-align: center;
text-decoration: underline;
}

#Contact{
    color: red;
    font-size: 20px;
    text-align: center;
}












  input[type="text"] {
      width: 300px;            
      height: 45px;           
      font-size: 16px;       
      color:black;         
      background-color:  #00bbff;  
      border: 2px solid #00bbff; 
      border-radius: 10px;    
      padding-left: 10px;     
      margin-top: 8px; 
      text-align: center;
      box-align: center;   
    }


     input[type="submit"] {
      width: 200px;            
      height: 45px;           
      font-size: 16px;       
      color: #ffffff;           
      background-color: #00bbff; 
      border: 2px solid #0078d7; 
      border-radius: 10px;    
      padding-left: 10px;     
      margin-top: 8px; 
      text-align: center;
      box-align: center;   
    }



    #locationBox{
        box-sizing: content-box;
        color: rgb(0, 0, 0);
        background-color: rgb(0, 195, 255);
box-shadow: #0078d7;

    }